body{
    background-color: #99CC66;

}

.head {
    font-size: 2rem;
    color: bisque;
    text-align: center;
}

footer {
    color: bisque;
    font-size: 1rem;
    text-align: center;
}
h2{
    color: bisque
    text-align: center;
    font size : 1rem;
}

p{
    line-height: 10px
}

.txt{
    text-align: center;
    color: bisque;
    padding: 5px;
    width: auto;
    font-size: medium;
}