.body{
    background-color: #99CC66;

}

.head {
    font-size: 2rem;
    color: bisque;
    text-align: center;
}

.footer {
    color: bisque;
    font-size: 1rem;
    text-align: center;
}
.h2{
    color: bisque
    text-align: center;
    font size : 1rem;
}

.p{
    line-height: 10px
}

.txt_img{
    display: flex;
    max-width: 900px;
    min-height: 80vh;
}
.txt{
    text-align: center;
    color: bisque;
    padding: 5px;
    width: auto;
    font-size: medium;
}


.content{
    display: none;
    position: relative;
    padding:35px;
    background-color: green;
    margin-bottom: 50px;
}

.img_button img{
    display: block;
}


.img_button:hover::after{
    opacity: 1;
}

.img_button{
    transition: 0.5s all;
    cursor: pointer;
    max-width: 900px;
    margin: 0 auto 50px;
    position: relative;
}

.img_button::after{
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: 0.5s opacity;
}

.img{
    width: 20%;
}

#img01{
    margin-top: 100px;
}