body{
    background-color: #99CC66;

}

.head {
    font-size: 4rem;
    color: bisque;
    text-align: center;
}

footer {
    color: bisque;
    font-size: 1rem;
    text-align: center;
}
h2{
    color
}